<!DOCTYPE html>
<html lang="en">
<!--Coded by albasheer | IG: @ab.6.9-->

<head>
    <title>ุชูููุจุฑ - ุญูู ุงููููุน </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fancybox.min.css">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>


    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="header-bar d-flex d-lg-block align-items-center">
            <div class="site-logo">
                <a href="index">
                    <img src="./images/logoxl.png" alt="ุชูููุจุฑ" title="ุชูููุจุฑ" loading="lazy">
                </a>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            <div class="main-menu">
                <ul class="js-clone-nav">
                    <li class="active"><a href="index">ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</a></li>
                    <li><a href="about">ุญูู ุงููููุน</a></li>





                </ul>
                <ul class="social js-clone-nav">
                    <li><a href="https://www.facebook.com/albasheer.face"><span class="icon-facebook"></span></a></li>
                    <li><a href="https://github.com/albasheerxrex/"><span class="icon-github"></span></a></li>
                    <li><a href="https://www.instagram.com/ab.6.9/"><span class="icon-instagram"></span></a></li>
                </ul>

            </div>
        </header>
        <main class="main-content">
            <div class="container-fluid photos">
                <div class="row justify-content-center text-right">

                    <div class="col-md-6 pt-4">
                        <figure class="mb-5" data-aos="fade-up">
                            <img src="./images/logoxl.png" alt="tecno" class="img-fluid">
                        </figure>

                        <h1 class="text-white mb-4" data-aos="fade-up">๐404๐</h1>

                        <div class="row" data-aos="fade-up">
                            <div class="col-md-12">
                                <p>๐ณ ุนุฐุฑุง ุจุณ ุทูุจุชู ุตูุญู ูุงููุฌูุฏุฉ </p>
                                <p cass="mt-4">ุงุตุฏูุงุฆูุง ุงููุทูุฑูู ุงุฐุง ุนุฏูู ุชุนุฏูู ุนูู ุงููููุน ููุงุนููู ุงู <br><a href="">GitHub</a> ุจุงูุชุตููู ุชูุฏุฑูู ุชุนุฏููู ูู ุงูุฑูุจู ูุงู </p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- foter and copyrights-->
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center py-5">
                        <p>

                            &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            |
                            <a href="https://xrex.dev" target="_blank">xRex</a>ูู ุงูุญููู ูุญููุธุฉ ูู
                            <i class="icon-heart" aria-hidden="true"></i> ุตูุน ูุน ุงูู


                        </p>
                    </div>
                </div>
            </div>


        </main>

    </div>
    <!-- .site-wrap -->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/jquery.fancybox.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>