<!DOCTYPE html>
<html lang="en">
<!--Coded by albasheer | IG: @ab.6.9-->

<head>
    <title>ุชูููุจุฑ - Tecnober 2020 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fancybox.min.css">

    <link rel="stylesheet" href="css/style.css">


</head>



<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center">
        <div class="site-logo">
            <img src="./images/logoxl.png" alt="ุชูููุจุฑ" title="ุชูููุจุฑ" loading="lazy">
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        <div class="main-menu">
            <ul class="js-clone-nav">
                <li><a href="index">ุงูุตูุญุฉ ุงูุฑุฆูุณูุฉ</a></li>
                <li class="active"><a href="about">ุญูู ุงููููุน</a></li>





            </ul>
            <ul class="social js-clone-nav">
                <li><a href="https://www.facebook.com/albasheer.face"><span class="icon-facebook"></span></a></li>
                <li><a href="https://github.com/albasheerxrex/"><span class="icon-github"></span></a></li>
                <li><a href="https://www.instagram.com/ab.6.9/"><span class="icon-instagram"></span></a></li>
            </ul>

        </div>
    </header>

    <main class="main-content">
        <div class="container-fluid photos">



            <div class="row align-items-stretch">

                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">

                    <a href="images/img (5).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (5).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุตุทูู ุณุนุฏ</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (11).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (11).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุฒููุจ ูุงูู</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (7).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (7).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุฏุงููุง ุญูุฏุฑ </h3>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                    <a href="images/img (10).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (10).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุงูุฑู ูุตุฑ </h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (9).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (9).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุฑุญ ุญูุฏุฑ </h3>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
                    <a href="images/img (6).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (6).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุณุฌุงุฏ ุนุจุงุณ </h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (8).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (8).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุฌุนูุฑ ุญุณู </h3>
                        </div>
                    </a>
                </div>


                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="images/img (12).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (12).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">..ูุงูู ุฏุงุนู ููุงุณู ุบูุณู </h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (4).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (4).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุนูู ูุนุฑุจ </h3>
                            <span class="meta">ูุนูู ุงูุณูุฏ ู ุตูุงุนู ุงูุณููู </span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (4).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (4).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุญูุฏ ุนุจุฏ ุงูุฎุงูู </h3>
                            <span class="meta">ุงูุฌูุดู ูุนูู ุงูุซูุฑู ู ุงูุงู ุงููุถุงู๐๐</span>
                        </div>
                    </a>
                </div>


                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                    <a href="images/img (3).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (3).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุญุณูู ูุญูุฏ</h3>
                            <span class="meta">ุดูุฏู ุงูุนููู ู ุงูุงุณุงุณูุฉ</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (2).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (2).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุนูู ุซุงูุฑ </h3>
                            <span class="meta">ุงูุณูุฏ ุจูู ููุณูู ููุฌุณ ุตุงูุบ ุฐูุจ ู ูููู ุงูุญุณุงุจ</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (11).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (11).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุณุนุฏ ูุงุฌุฏ</h3>
                            <span class="meta">ุงููุฏูุก ู ุงูุซูู ู ูุงุฎูู ูุงู ุงุนุธู</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                    <a href="images/img (1).png" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (1).png" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุงุดู ู ุงุณู</h3>
                            <span class="meta">ุนูู ุงููููู ููู ุงูุงุณุชุงุฐ ุงุณุงูุฉ ุงููุณ ู ุนูู ุงููุณุงุฑ ุงูุงุณุชุงุฐ ุงุดุฑู ูุณุงู </span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (9).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (9).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ููุชุธุฑ ูููู</h3>
                            <span class="meta">AKA ุงุจู ุงูููู ๐</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
                    <a href="images/img (1).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (1).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุตุทูู ุงุญูุฏ</h3>
                            <span class="meta">(ูููู)</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (5).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (5).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุงููุฑ ุงุญูุฏ ุบูู</h3>
                            <span class="meta">ุงุทูู ูุงุญุฏ ุจุงููููุฉ</span>
                        </div>
                    </a>
                </div>


                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="images/img (8).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (8).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุงููุฑ ุนุจุฏ ุงููุงุญุฏ</h3>

                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (2).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (2).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุณุงูุฑ ุงุญุณุงู</h3>

                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="images/img (1).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (1).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุฎุงูุฏ ุณุฑุญุงู</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (3).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (3).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุงูุณ ุนุฒูุฒ</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (2).png" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (2).png" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุนูู ุนุงุฏ</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="images/img (7).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (7).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ุนูู ุณุงูู</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="images/img (10).jpeg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (10).jpeg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุงุณู ุญุณูู</h3>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <a href="images/img (6).jpg" class="d-block photo-item" data-fancybox="gallery">
                        <img src="images/img (6).jpg" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                            <h3 class="heading">ูุฑุงุฑ ุญูุฏุฑ</h3>
                        </div>
                    </a>
                </div>


            </div>

            <!-- foter and copyrights-->
            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-5">
                    <p>

                        &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        |
                        <a href="https://xrex.dev" target="_blank">xRex</a>ูู ุงูุญููู ูุญููุธุฉ ูู
                        <i class="icon-heart" aria-hidden="true"></i> ุตูุน ูุน ุงูู


                    </p>
                </div>
            </div>
        </div>


    </main>

</div>
<!-- .site-wrap -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/jquery.fancybox.min.js"></script>

<script src="js/main.js"></script>

</body>

</html>